@import url("./normalize.css");
@import url("./buttons.css");

:root{
  --darkMode: #191919;
  --darkModeSecondary: #3c3c3c;
  --darkModeMenu: #acac3a;
  --lightMode: #EEE;
  --darkModeColor:#EEE;
}

#main{
  position: relative;
  min-height: 100vh;
  background-color: var(--darkMode);
  color: var(--darkModeColor);
}

.flex{
  display: flex;
}

.flex-center{
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

.flex-center-auto{
  justify-content: right;
}

.hidden{
  display: none;
}

.hidden-menu{
  top: -60px !important;
  animation: hideMenu 1s;
}

header{
  position: relative;
}

nav{
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 1rem;
  z-index: 100000;
}

.nav-principal{
  padding: 1rem;
  width: 100%;
  background-color: var(--darkModeSecondary);
  z-index: 5000000000000;
  position: absolute;
  height: 60px;
}

#img-content{
  width: 100%;
}

#container-info{
  padding: 2rem;
}

#menu-responsive{
  background-color: var(--darkModeMenu);
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.menu-show{
  top:60px;
  animation: menu 1s;
}

@media screen and (min-width: 780px) {
  #menu{
    display: flex;
  }

  #menu-responsive, #menu-button{
    display: none;
  }
}

@media screen and (min-width: 650px) {
  #img-content{
    width: 40%;
  }
  #main-info{
    width: 60%;
  }
  #container-info {
    flex-direction: row-reverse;
  }
  #social-media{
    flex-direction: column;
  }
  
}

@keyframes menu {
  0%{
    transform: translateY(-60px);
  }
}

@keyframes hideMenu {
  0%{
    transform: translateY(60px);
  }
}